<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="container mt-5">
    <%- include('partials/header') %>
    <h1>Hakkında</h1>
    <p>Bu uygulama, Braille yazma alıştırmaları yapmanıza yardımcı olmak için geliştirilmiştir.</p>
    <%- include('partials/footer') %>
</body>
</html>
