<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="container mt-5">
    <%- include('partials/header') %>
    <h1>İletişim</h1>
    <p>Bizimle iletişime geçmek için aşağıdaki bilgileri kullanabilirsiniz:</p>
    <ul>
        <li>Email: contact@brailleapp.com</li>
        <li>Telefon: 123-456-7890</li>
    </ul>
    <%- include('partials/footer') %>
</body>
</html>
