<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="container mt-5">
    <%- include('partials/header') %>
    <h1 class="mb-4"><%= title %></h1>
    <p>Welcome to BrailLab, your platform for learning and practicing Braille!</p>
    <%- include('partials/footer') %>
</body>
</html>
